body{
    height: 100%;
    background: rgba(0, 0, 0, 0.908);
}

.main-div{
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.screen-main{
    width: 60%;
    height: 55%;
    margin: 0 auto;
    height: 450px;
    display: flex;
}

.screen-left{
    height: 100%;
    width: 15%;
    /* background: #808588; */
    background: #3E424B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px 0 0 20px;
}

.screen-left-info{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.screen-left-info:hover{
    cursor: pointer;
}

.screen-left-info:hover i{
    color: lightgreen;
    transition: 0.6s;
}

.screen-left-projects{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.screen-left-separator{
    background: lightgray;
    height: 2%;
    width: 100%;
}

.screen-left-projects:hover{
    cursor: pointer;
}

.screen-left-projects:hover i{
    color: lightgreen;
    transition: 0.6s;
}

.screen-right{
    /* height: 100%; */
    height: 450px;
    width: 85%;
}

.fa-user-circle{
    font-size: 56px;  
    color: lightgrey
}

.fa-book{
    font-size: 56px;  
    color: lightgrey
}

.main-button-dropdown{
    padding: 3px;
    display: none;
    position: absolute;
    background: black;
    color: white;
    border-radius: 5px;
    bottom: 20px;
}

.main-button-dropdown p{
    font-family: 'Josefin Sans', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.screen-left-info:hover .main-button-dropdown, .screen-left-projects:hover .main-button-dropdown{
    display: block;
}
