.projects-main{
    height: 450px;
    display: flex;
    flex-direction: column;
}

.projects-bar{
    display: flex;
    justify-content: space-evenly;
    background: #3E424B;
    height: 18%;
    border-left: 1px solid gray;
    border-radius: 0 20px 0 0;
}

.projects-hiptrip-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.projects-hiptrip-button:hover{
    cursor: pointer;
}

.projects-hiptrip-button:hover .logo-circle-parent{
    background: lightgreen;
    transition: 1s;
}

.projects-ownprops-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.projects-ownprops-button:hover{
    cursor: pointer;
}

.projects-ownprops-button:hover .logo-circle-parent{
    background: lightgreen;
    transition: 0.6s;
}

.projects-starjouster-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.projects-starjouster-button:hover{
    cursor: pointer;
}

.projects-starjouster-button:hover .logo-circle-parent{
    background: lightgreen;
    transition: 0.6s;
}

.projects-show{
    height: 82%;
    background: greenyellow;
}

.hiptrip-logo{
    width: 100%;
    height: auto;
}

.ownprops-logo{
    width: 100%;
    height: auto;
}

.starjouster-logo{
    width: 100%;
    height: auto;
}

.project-logo-container-circle{
    width: 50px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}
.project-logo-container-circle-ownprops{
    width: 50px;
    height: 50px;
    background: #073049;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}

.logo-circle-parent{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.logo-circle-parent-active{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}


.project-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.project-dropdown{
    padding: 10px;
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    left: 103%;
    background: #3E424B;
    z-index: 3;
}

.project-dropdown-triangle{
    transform: rotate(45deg);
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 20%;
    background: #3E424B;
    z-index: 2;
}

.project-gif{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background: #92979a;
}

.project-main:hover .project-dropdown{
    display: flex;
    flex-direction: column;
}

.project-main:hover .project-dropdown-triangle{
    display: block;
}

.project-gif img{
    width: 100%;
    height: auto;
}

.project-header{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-header p{
    margin-block-end: 0.5em;
}

.project-links{
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}

.project-link{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    color: #a4a9b5;
}

.project-link:hover{
    color: black;
}

.project-links-separator{
    background: black;
    width: 1%;
    height: 100%;
    margin: 0 5px 0 5px;
}

.project-links h2, .project-header h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


.project-description{
    height: 45%;
}

.project-description-starjouster{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    line-height: 1.5;
}

.project-description-hiptrip{
    font-family: 'Noto Sans', sans-serif;
}

.project-header-starjouster{
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
}

.project-header-hiptrip{
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
}

.project-description-ownprops{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.project-header-ownprops{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
}


.em-js{
    color: yellow;
}

.em-react{
    color: teal;
}

.em-rails{
    color: red;
}

.em-mongo{
    color: green;
}