.projects-main{
    height: 450px;
    display: flex;
    flex-direction: column;
}

.projects-bar{
    display: flex;
    justify-content: space-evenly;
    background: #3E424B;
    height: 18%;
    border-left: 1px solid gray;
    border-radius: 0 20px 0 0;
}

.projects-hiptrip-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.projects-hiptrip-button:hover{
    cursor: pointer;
}

.projects-hiptrip-button:hover .logo-circle-parent{
    background: lightgreen;
    transition: 1s;
}

.projects-ownprops-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.projects-ownprops-button:hover{
    cursor: pointer;
}

.projects-ownprops-button:hover .logo-circle-parent{
    background: lightgreen;
    transition: 0.6s;
}

.projects-starjouster-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.projects-starjouster-button:hover{
    cursor: pointer;
}

.projects-starjouster-button:hover .logo-circle-parent{
    background: lightgreen;
    transition: 0.6s;
}

.projects-show{
    height: 82%;
    background: greenyellow;
}

.hiptrip-logo{
    width: 100%;
    height: auto;
}

.ownprops-logo{
    width: 100%;
    height: auto;
}

.starjouster-logo{
    width: 100%;
    height: auto;
}

.project-logo-container-circle{
    width: 50px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}
.project-logo-container-circle-ownprops{
    width: 50px;
    height: 50px;
    background: #073049;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
}

.logo-circle-parent{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}


.project-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.project-dropdown{
    display: none;
}

.project-gif{
    height: 100%;
    width: auto;
    background: red;
}

.project-gif img{
    width: 45%;
    height: 80%;
    height: auto;
    border: 1px solid black;
}

.project-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.project-links{
    height: 50%;
    display: flex;
    justify-content: center;
}

.project-links-separator{
    background: black;
    width: 1%;
    height: 100%;
    margin: 0 5px 0 5px;
}

.project-links h2, .project-header h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

